<nav class="navbar navbar-default" role="navigation">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/adminDashBoard"><span class="glyphicon glyphicon-home"></span>Dashboard</a></li>
            <li><a href="/admin/products"><span class="glyphicon glyphicon glyphicon-th-large"></span>Products</a></li>
            <li><a href="/admin/users"><span class="glyphicon glyphicon-user"></span>Users</a></li>
            <li><a href="/admin/orders"><span class="glyphicon glyphicon-folder-open"></span>Orders</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                    class="glyphicon glyphicon-user"></span>Admin <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/user/{id}"><span class="glyphicon glyphicon-cog"></span>Settings</a></li>
                    <li class="divider"></li>
                    <li><a href="/admin/login"><span class="glyphicon glyphicon-off"></span>Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>